@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* body {overflow: hidden} */
/* body.overflow-auto {overflow: auto;} */
html {overflow-x: hidden ;}
body {margin: 0; padding: 0; background-color: white;  font-family: 'Pretendard-Regular'; box-sizing: border-box;}
ul, li {list-style-type: none; }
.container {margin: 5% 5%; padding: 0;}


/*loading-screen*/
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 1;
    transition: opacity 1s ease-out;
}
.loading-text p {
    color: rgb(168, 168, 168);
    font-size: 2.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    animation: typing 4s steps(40) forwards;
}
.loading-text h1 {
    font-size: 4rem;
    font-weight: 900;
    color: black;
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.1em solid black;
    padding-right: 0.1em;
    animation: typing 4s steps(40) forwards, blink 0.75s step-end infinite;
}

@keyframes typing {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.main-content {
    display: none;
    opacity: 1;

    transition: opacity 2s ease;
}

.show-main-content {
    display: block;
    opacity: 1;

}

.hide-loader {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/* header */
.logo img {width: 58px;height: 58px;margin: 4px 30px; }
.head {display: flex;justify-content: space-between;align-items: center;padding: 12px 30px;
     z-index: 1000; position: fixed; width: 100%; left: 0; top: 0; height: 94px;
}
.menu {flex-grow: 1;text-align: center; position: fixed; right: 50px;}
.navbar {list-style: none;margin: 0; padding: 0;display: flex;justify-content: flex-end;gap: 30px;align-items: center;}
.menu-item { position: relative;}
.menu-item a {text-decoration: none;color: white; font-size: 20px; font-weight: 900; padding: 10px 15px; display: inline-block;}
.menu-item a:hover {color: red !important; border-radius: 5px;}
.sub-menu {list-style: none; margin: 0; padding: 0; position: absolute; top: 100%; left: 0px; 
    color: black; border-radius: 5px; display: none; }
.menu-item:hover .sub-menu { display: block;}
.sub-menu .menu-item a { font-size: 16px; padding: 10px 20px; color: white; white-space: nowrap; text-align: left;}
.sub-menu .menu-item a:hover { color: red !important; }
.menuBtn img { width: 30px; height: auto; }

/* main-section */
/* .main-section {position: relative;} */



/*section - two*/ 
.section-two {width: 100%; height: auto;}
.section-two-title span {color: black;}
.section-two-title {color: red; font-size: 57px; margin-bottom: 40px; }
.global-one, .global-two, .global-three {
    margin: 0 auto;
    padding: 80px 100px;
    color: white;
    font-weight: 300;
    font-size: 100%;
    height: 654px;
}
.global-one {background: url(image/overseas_visual.jpg); z-index: 1;}
.global-two{background-image: url(image/overseas_visual.jpg) ; z-index: 2;}
.global-three{background-image: url(image/overseas_visual.jpg) ; z-index: 3;}
.section-two h3 {font-size: 45px; font-weight: 700; margin-bottom: 10px;}
.section-two p {font-weight: 300; line-height: 1.6; font-size: 16px;}


/* section - three */
.section-three{ 
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    line-height: 120px;
    position: relative;
    text-align: center; 
}
.section-three-top {font-weight: 900; 
    text-align: center;
    position: relative;
    overflow: hidden;
    width: 100%;
}
.section-three-top p {font-size: 4vw; font-weight: 900; line-height: 50px;}
.inner {position: absolute; top: 50%;left: 50%;transform: translate(-50%, -50%); width: 100%; }
.section-three span {color: red;}
.section-three-bottom {font-size: 1.5rem; color: gray; line-height: 40px;}


/*slider*/
.slider{border: 5px solid rgb(158, 157, 157); padding: 3%; border-right: white; border-left: white; overflow: hidden; position: relative;}
.slider span {font-weight: 900; font-size: 8vw; white-space: nowrap; margin-right: 50px;}
.slider span:nth-child(n+1) {text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black; color: red;}
.slider span:nth-child(2n + 1) {text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black; color: yellow;}
.slider div {
   display: flex;
   width: fit-content;
   animation: slider 10s linear infinite;
}
@keyframes slider {
    0% {
        transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
}

/*section-four*/
.section-four {width: 100%; height: 100vh; position: relative; overflow: hidden;}
.four-inner{background-image: url(image/fresh.jpg) ; width: 100%; height: 75%;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 10%;
    bottom: 10%;
    color: white;
}
.four-inner h2 {font-size: 5vw;line-height: 30px;}
.four-inner p {text-align: center; font-size: 1.5rem; font-weight: 400;}
.four-inner-i { position: absolute; top: 50%;left: 50%; transform: translate(-50%, -50%);text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;}
.four-inner-i div {width: 200px;height: 50px; border-radius: 30px ;background: red; line-height: 50px; margin-top: 30px; }
.four-inner a {display: inline-block; width: 100%; height: 100%; text-decoration: none; color: white;text-align: center;}
.four-inner span {font-weight: bolder;}


/*section-five*/
.section-five {width: 100%; height: 80vh; padding: 5% 0;}
.news-head {font-size: 40px;}
.news-head h2 img {width: 70px; height: 70px;}
.news-content {width: 400px; height: 300px; border-radius: 20px; float: left; margin-right: 20px;
    transition: transform 0.5s ease;
}
.cont1{background-color: #FFDECC; color: #08483C;}
.cont2{background-color: #E6E9BF;}
.cont3{background-color: #F8E6C3;}
.cont4{background-color: #FFDECC;}
.cont5{background-color: #E6E9BF;}
.news-title a {font-size: 20px; font-weight: bold; margin: 30px; text-decoration: none; color: black;}
.news-content img {width: 400px; height: 200px; margin-top: 0px; border-radius: 20px;}
.news-content:hover {transform: scale(1.1)}


/*footer*/
.footer {width: 100%; height: auto; position: relative; background-color: #f7e4e4; border-radius: 40px;
    display: flex;
    justify-content: space-between;
    padding: 2% 2%;
    box-sizing: border-box;
}
.footer-left h2 {font-weight: bold; font-size: 25px;}
.footer-btn {width: 100px; height: 50px; margin-bottom: 40px; margin-top: 90px; background-color: black; border-radius: 30px; color: white;}
.footer-btn a {font-weight: bold; text-decoration: none; color: white; font-size: 20px;  padding: 15px; line-height: 50px;}
.footer-left p {opacity: 0.5;  }
.footer-right-head {font-weight: bold; }
.footer-left, .footer-right {flex: 1; padding: 20px;}
.footer-left{text-align: left;}
.footer-right{text-align: left; font-size: 20px; line-height: 50px;}
.footer-right img{margin-top: 20px;}




@media (max-width: 500px) {
    /* header */
    .menu, .navbar {display: none;}
    .logo img { width: 100px; height: 100px; text-align: left; }

    /*section - two*/
    .global-one, .global-two, .global-three {
        padding: 80px 50px;
    }
    .section-two-title {font-size: 40px; }
    .section-two h3 {font-size: 30px;}
    .section-two p {font-weight: 100; line-height: 1.2; font-size: 110x;}

    /* section - three */
    .section-three-top {font-size: 30px; line-height: 50px;}
    .section-three-bottom {font-size: 15px;line-height: 25px;}

    /*slider*/
    .slider span {font-size: 50px;}

    /*section-four*/
    .four-inner h2 {font-size: 20px;}
    .four-inner p {font-size: 15px;}

    /*footer*/
    .footer { top: 20px; position: relative; 
        height: 40vh;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        padding: 20px;
    }
    .footer-left h2 { font-size: 20px; position: relative;}
    .footer-btn { position: absolute; width: 90px; height: 45px; right: 40px; top: 50px; margin-bottom: 0px; margin-top: 0px; }
    .footer-btn a {font-size: 17px; line-height: 45px;}
    .footer-left p {display: none; }
    .footer-left, .footer-right {padding: 10px;}
    .footer-right{text-align: left; position: absolute; font-size: 15px; line-height: 25px; top: 120px; left: -15px;}
    .footer-right img{position: absolute; top: 150px; right: -110px;}
}

@media (min-width: 501px) and (max-width: 768px) {
    /* header */
    .menu, .navbar {display: none;}
    .logo img { width: 100px; height: 100px; text-align: left; }

    /*section - two*/
    .section-two-title {font-size: 45px;}
    .global-one, .global-two, .global-three {padding: 50px 40px;}
    .section-two h3 {font-size: 30px;}
    .section-two p {font-weight: 300;font-size: 14px;}

    /* section - three */
    .section-three-top {font-size: 40px;line-height: 60px;}
    .section-three-bottom {font-size: 18px;line-height: 30px;}


    /*slider*/
    .slider span {font-size: 60px;}

    /*section-four*/
    .four-inner h2 {font-size: 25px;line-height: 20px;}

    /*section-five*/
    .news-content {width: 100%; margin-bottom: 20px;}
    .news-content img {width: 100%;}

    /*footer*/
    .footer {padding: 10px;}
    .footer-btn {margin-top: 70px;}
    .footer-right{text-align: left; margin-left: -80px; margin-top: 100px; font-size: 18px; line-height: 30px;}
    .footer-right img{margin-top: 10px;}
}

@media (min-width: 769px) and (max-width:1024px) {
     /* header */
     .menu, .navbar {display: none;}
     .logo img { width: 100px; height: 100px; text-align: left; }
 
    /*section - two*/
    .section-two-title {font-size: 50; }

    /* section - three */
    .section-three-top {font-size: 50px; line-height: 70px;}
    .section-three-bottom {font-size: 18px; ;}

    /*section-four*/
    .four-inner h2 {font-size: 40px;}
}